body {
    background:url("/banner.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    /* background-color: #00b44f; */
}

.top {
    
    color:#fff;
    padding:5%;

}

h3 {
    color:#1F4B66;
    padding:3%;
}

/*input*/
.numeric {
    background:#1F4B66;
    color:#fff;
    border-radius:20px;
    width:40%;
}

button {
    margin-top:2%;
}

.icon {
    height:3%;
    width:3%;
}